<%= render 'optimadmin/shared/header/main_title', title: 'New Magazine' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: magazines_path, title: 'Magazine' %>

  <%= render 'form', magazine: @magazine %>
</div>