<%= render 'optimadmin/shared/header/main_title', title: 'Edit Page' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: pages_path, title: 'Page' %>

  <%= render 'form', page: @page %>
</div>