<section class="content-area">
  <div class="row">
    <div class="small-12 columns">
      <div class="main-content-wrap">
        <div class="content">
          <div class="row">
            <%= render(partial: 'event_groups/event_group', collection: @event_groups, as: :event_group) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
