<%= render 'optimadmin/shared/header/main_title', title: 'Edit Event Office' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: event_offices_path, title: 'Event Office' %>

  <%= render 'form', event_office: @event_office %>
</div>