<section class="content-area">
  <div class="row">
    <div class="large-8 small-12 columns">
      <div class="main-content-wrap">
        <h1>News</h1>

        <%= render(partial: 'article', collection: @presented_articles, as: :article_presenter) || "Currently no articles" %>

        <%= paginate @presented_articles %>
      </div>
    </div>

    <div class="large-4 small-12 columns">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>
