<html lang="en">
  <body>

    <h1>New member login</h1>

    <p><%= @member_login.member.company_name %> has created their login.</p>

    <p>To allow their member offers to be displayed, their Member account must be marked as 'Verified' set to 'Yes' within the admin.</p>

    <p>Verifying the Member account means that you have checked someone within the company is opperating the account.</p>

    <p>They will be able to create offers in the meantime.</p>
  </body>
</html>
