<html lang="en">
  <body>

    <h1>Reset password</h1>

    <p>You, or someone, has requested a password reset on <%= @site_settings['Name'] %>.</p>

    <p>If you do not click this link, your password will not change.</p>

    <%= link_to 'Reset your password', member_password_reset_url(@member.password_reset_token) %>
  </body>
</html>
