<%= render 'optimadmin/shared/header/main_title', title: 'Edit Newsletter Signup' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: newsletter_signups_path, title: 'Newsletter Signup' %>

  <%= render 'form', newsletter_signup: @newsletter_signup %>
</div>