<%= render 'optimadmin/shared/header/main_title', title: 'New Event Booking' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: event_bookings_path, title: 'Event Booking' %>

  <%= render 'form', event_booking: @event_booking %>
</div>