<div class="about-the-chamber">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="full-header"><div>About the Chamber</div></h2>
    </div>
  </div>

  <div class="row">
    <div class="small-11 small-centered columns">
      <%= link_to 'Left', '#', class: "about-the-chamber-arrow-left hide-for-small" %>

      <div class="row chamber-slide" data-equalizer="slide-1">
        <div class="medium-4 small-12 columns" data-equalizer-watch="slide-1">
          <h2>
            "Growing your business, building our economy."
          </h2>

          <p>
            The Chamber has 2000 members and affiliates, representing all types of businesses in the Humber region, which includes North East Lincolnshire, North Lincolnshire, Hull and the East Riding of Yorkshire.  We represent a more diverse cross-section of companies than any other business organisation, including a high proportion of the region’s largest companies.
          </p>
        </div>

        <div class="medium-4 small-12 columns middle" data-equalizer-watch="slide-1">
          <div class="about-the-chamber-video-slider">
            <div>
              <div class="flex-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mrFsRGIpqQM" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="title">Your Chamber - The Hull and Humber Chamber of Commerce</div>
            </div>

            <div>
              <div class="flex-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ECKJ0F-HTSw" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="title">New business opportunities - what's your big idea?</div>
            </div>

            <div>
              <div class="flex-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UfE9Xe6RDoo" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="title">Hull and Humber Chamber Expo 2015 Promo</div>
            </div>
          </div>
        </div>

        <div class="medium-4 small-12 columns" data-equalizer-watch="slide-1">
          <p class="highlight">
            Hull & Humber Chamber of Commerce is one of 52 Accredited Chambers of Commerce across the UK, and is in turn part of a global network of Chambers around the world.
          </p>
        </div>
      </div>

      <div class="about-the-chamber-arrow-right hide-for-small"></div>
    </div>
  </div>
</div>

<% if @internal_promotions.present? && @internal_promotions.leaderboard('Home - About the Chamber', 'leaderboard').present? %>
  <div class="about-the-chamber-internal-promotion">
    <%= @internal_promotions.leaderboard('Home - About the Chamber', 'leaderboard') %>
  </div>
<% end %>
