<div class="about-the-chamber">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="full-header"><div>About the Chamber</div></h2>
    </div>
  </div>

  <div class="row">
    <div class="small-11 small-centered columns">
      <div class="row chamber-slide" data-equalizer="slide-1">
        <div class="small-4 columns" data-equalizer-watch="slide-1">
          <h2>
            "Growing your business, building our economy."
          </h2>

          <p>
            The Chamber has 1400 members and affiliates, representing all types of businesses in the Humber region, which includes North East Lincolnshire, North Lincolnshire, Hull and the East Riding of Yorkshire.  We represent a more diverse cross-section of companies than any other business organisation, including a high proportion of the region’s largest companies.
          </p>
        </div>

        <div class="small-4 columns middle" data-equalizer-watch="slide-1">
          <div class="flex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mrFsRGIpqQM" frameborder="0" allowfullscreen></iframe>
          </div>

          <h2>Your Chamber - The Hull and Humber Chamber of Commerce</h2>
        </div>

        <div class="small-4 columns" data-equalizer-watch="slide-1">
          <p class="highlight">
            Hull & Humber Chamber of Commerce is one of 53 Accredited Chambers of Commerce across the UK, and is in turn part of a global network of Chambers around the world.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-10 columns leaderboard small-centered">
      <%= image_tag 'http://placehold.it/728x90' %>
    </div>
  </div>
</div>
