<% if @patrons.present? %>
  <% cache ['footer', @patrons] do %>
    <div class="home-patrons">
      <div class="row">
        <div class="small-12 columns">
          <% if @page_types && @page_types['Patrons'] %>
            <h2 class="full-header"><div><%= link_to 'Patrons', @page_types['Patrons'] %></div></h2>
          <% else %>
            <h2 class="full-header"><div>Patrons</div></h2>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="patron-logos text-center">
            <%= render partial: 'patrons/patron', collection: @patrons, as: :patron_presenter, cache: true %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
