<%= render 'optimadmin/shared/header/main_title', title: 'Edit Article Category' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: article_categories_path, title: 'Article Category' %>

  <%= render 'form', article_category: @article_category %>
</div>
