<%= render 'optimadmin/shared/header/main_title', title: 'New Category' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: categories_path, title: 'Category' %>

  <%= render 'form', category: @category %>
</div>