<%= render 'optimadmin/shared/header/main_title', title: 'Edit Additional Content' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: additional_contents_path, title: 'Additional Content' %>

  <%= render 'form', additional_content: @additional_content %>
</div>