<div class="magazine-publication-thumbnail">
  <div class="row">
    <div class="small-4 columns">
      <%= magazine_presenter.preview %>
    </div>

    <div class="small-8 columns">
      <%= magazine_presenter.name %>

      <%= magazine_presenter.date %>
      
      <%= magazine_presenter.view %>
    </div>
  </div>
</div>
