<% cache advertisement do %>
  <div>
    <div class="advertisement">
      <%= link_to advertisement.url, target: '_blank', rel: 'noopener', class: 'advertisement__link',
                                    class: 'ga-event',
                                    data: {
                                      event_category: 'Advertisement',
                                      event_action: 'click',
                                      event_label: "#{j advertisement.name} - #{advertisement.id}"
                                    } do %>
        <picture>
          <source srcset="<%= image_path advertisement.image_small.url %>" media="(max-width: 650px)" />
          <source srcset="<%= image_path advertisement.image_medium.url %>" media="(max-width: 1024px)" />
          <img src="<%= image_path advertisement.image_large.url %>" />
        </picture>
        <%#= image_set_tag advertisement.image_large.url,
            {
              advertisement.image_small.url => '640w',
              advertisement.image_medium.url => '1024w',
              advertisement.image_large.url => '1980w'
            }, sizes: '100vw' %>
      <% end %>
    </div>
  </div>
<% end %>
