<aside class="aside-content-wrap">
  <h3><span><%= @page.title %></span></h3>

  <ul class="plain-list sidebar">
    <%= nested_menu_items(menu_items: @side_menus.last.menu_items) %>
  </ul>
</aside>
