<section class="content-area">
  <div class="row">
    <div class="medium-8 small-12 columns">
      <div class="main-content-wrap">
        <h1><%= @page.title %></h1>

        <div class="content">
          <%= @page.image %>
          <%= @page.content %>
        </div>
      </div>
    </div>

    <div class="medium-4 small-12 columns">
      <% render 'side_menus' if @side_menus.present? %>
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>
