<%= render 'optimadmin/shared/header/main_title', title: 'Edit Member Login' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: member_logins_path, title: 'Member Login' %>

  <%= render 'form', member_login: @member_login %>
</div>