<div class="newsletter-widget">
  <div class="row">
    <div class="large-3 small-12 title columns">
      <%= two_tone_title 'Sign Up to Our Newsletter' %>
    </div>

    <div class="large-9 small-12 columns">
      Thank you for subscribing to our newsletter.
    </div>
  </div>
</div>
