<%= render 'optimadmin/shared/header/main_title', title: 'New Test' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: tests_path, title: 'Test' %>

  <%= render 'form', test: @test %>
</div>