.aside-content-wrap {
  background: $white;
  padding: em(20px);
  margin: 0 0 em(20px);

  h2,
  h3 {
    border-bottom: 4px solid $bronze;
    color: $bronze;
    font-size: em(16px);
    font-weight: $normal;
    margin-bottom: em(11px, 16px);
    padding-bottom: em(8px, 16px);
    text-align: center;
    text-transform: uppercase;

    span {
      color: $light-blue;
      font-weight: $bold;
    }
  }

  .sidebar a {
    display: block;
    padding: em(5px);
    border-bottom: 1px solid $light-grey;

    &.active {
      font-weight: $bold;
    }
  }

  .plain-list ul {
    list-style: none;
  }
}

.social-widget-title {
  border-bottom: 4px solid $bronze;
  color: $bronze;
  font-size: em(16px);
  font-weight: $normal;
  margin-bottom: em(11px, 16px);
  padding-bottom: em(8px, 16px);
  text-align: center;
  text-transform: uppercase;

  span {
    color: $light-blue;
    font-weight: $bold;
  }
}

.aside-item {
  border-bottom: 1px solid $light-grey;
  margin: em(8px) em(1px);
  padding: 0 em(5px) em(16px);

  .date {
    color: $bronze;
    font-weight: $light;
  }

  .title {
    font-weight: $semibold;
    line-height: 1.25;
  }
}


.category-item {
  border-bottom: 1px solid $light-grey;
  margin: em(8px) em(1px);
  padding: em(8px) em(5px);

  .date {
    color: $bronze;
    font-weight: $light;
  }

  .title {
    font-weight: $semibold;
    line-height: 1.25;
  }
}
