.content-area {
  background: $turquoise image-url('layout/home/background.jpg') no-repeat;
  padding: em(26px) 0 0;
  min-height: 586px;

  ul,
  ol {
    list-style-position: inside;
    margin: 0 em(7px);
  }

  li {
    margin: em(7px) 0;
  }
}

.main-content-wrap {
  background: $white;
  padding: em(20px);
  margin: 0 0 em(26px);

  @include responsive-to(small) {
    margin-bottom: em(20px);
  }

  .content {
    overflow: hidden;
    padding: 0 em(10px);
  }

  // define styles for editable elements in editor.scss

  h1 {
    border-bottom: 4px solid $bronze;
    color: $light-blue;
    font-size: em(26px);
    font-weight: $extra-bold;
    padding: 0 0 em(5px, 38px) em(10px, 38px);
  }

  .page-image {
    border: 4px solid $deep-grey;
  }

  .article-caption {
    font-weight: $bold;
    line-height: 1.1;
    margin: em(5px, 12px) em(2px, 12px);
  }
}


.member-offer-expired-opacity {
  opacity: 0.5;
}

.image-right--width {
  max-width: 223px;
}

.image-right .article-caption {
  max-width: 223px;
}
