header {
  background: $white;

  @media only screen and (min-width: 768px) {
    min-height: 124px;
  }
}

.logo {
  display: block;
  margin: em(12px) 0 0;

  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}

%header-user-link {
  color: $white;
  display: inline-block;
  font-size: em(14px);
  font-weight: $semibold;
  padding: em(4px) em(9px);
  text-decoration: none;
  vertical-align: top;

  @include responsive-to(small) {
    margin-top: em(5px);
    text-align: center;
  }

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:active {
    color: $light-grey;
  }
}

.member-action {
  @extend %header-user-link;
  background: $deep-blue;
  border-bottom-left-radius: 10px;
}

.member-register {
  @extend %header-user-link;
  background: $bronze;
  border-bottom-right-radius: 10px;
}


.member-logout {
  @extend %header-user-link;
  background: $light-grey;
  border-bottom-right-radius: 10px;

  &:hover {
    color: $offset-black;
  }
}


.member-update-details {
  @extend %header-user-link;
  background: $pale-blue;
  border-bottom-left-radius: 10px;
}

.header-ads {
  display: none;

  &.slick-initialized {
    display: block;
  }

  &.slick-slider {
    margin-bottom: 0;
  }

  .slick-slide img {
    display: inline-block;
  }
}

.advertisement {
  background-color: $deep-blue;
  padding-bottom: em(5px);
  padding-top: em(5px);
  text-align: center;

  &__link {
    display: inline-block;
  }
}

.header-tagline {
  color: $light-blue;
  font-size: em(44px);
  font-weight: $bold;
  line-height: 1.1;
  margin-top: em(15px, 44px);
  margin-bottom: 0;
  text-align: left;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.member-buttons {
  .text-right {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}
