.memberships-home-group {
  text-align: center;

  &__title {
    color: $light-blue;
    font-size: em(24px);
    font-weight: $extra-bold;
  }

  &__image {
    border-radius: 50%;
    margin-bottom: em(16px);
  }

  &__summary {
    font-weight: $semibold;
  }

  &__button {
    background: $deep-blue;
    border: 0;
    color: $white;
    display: block;
    font-weight: $bold;
    padding: em(12px);
    text-decoration: none;
    width: 100%;

    &:link,
    &:visited {
      color: $white;
    }

    &:hover {
      background: $deep-grey;
      text-decoration: none;
    }
  }
}
