.memberships-form-links-list {
  list-style: none;
  margin: 0;

  &__item {
    display: inline-block;
  }

  &__link {
    color: $white;
    background: $deep-blue;
    display: inline-block;
    font-size: em(18px);
    font-weight: $semibold;
    padding: em(4px, 18px) em(9px, 18px);
    text-decoration: none !important;
    vertical-align: top;

    @include responsive-to(small) {
      margin-top: em(5px);
      text-align: center;
    }

    &:link,
    &:visited {
      color: $white;
    }

    &:hover,
    &:active {
      color: $light-grey;
    }

    &--bronze {
      background: $bronze;
    }
  }
}

.memberships-home-group {
  // text-align: center;

  &__title {
    border-bottom: 4px solid $bronze;
    color: $light-blue;
    font-size: em(21px);
    padding: 0 0 em(5px, 21px);
  }

  &__image {
    margin-bottom: em(16px);
  }

  &__summary {
    // font-weight: $semibold;
  }

  &__button {
    border: 3px solid $light-blue;
    display: inline-block;
    font-size: em(12px);
    letter-spacing: 1px;
    padding: em(5px, 12px) em(20px, 12px);
    text-transform: uppercase;

    &:hover,
    &:active {
      background: $light-blue;
      color: $white;
      text-decoration: none;
    }
  }
}

.membership-package {
  border-bottom: 1px solid $light-grey;
  margin: em(8px) em(1px);
  padding: 0 em(5px) em(16px);
  overflow: auto;

  &__title {
    display: inline-block;
    font-size: em(16px);
    font-weight: $light;
    color: $bronze;
  }

  &__cost {
    color: $light-blue;
    display: inline-block;
    font-size: em(18px);
    font-weight: $semibold;
    line-height: 1.25;

    @media screen and (min-width: 1024px) {
      float: right;
    }
  }
}

.membership-package-output {
  border: 1px solid $bronze;
  color: $light-blue;
  padding: em(11px);

  &--hidden {
    display: none;
  }
}

.membership-package-offers {
  border: 4px solid $bronze;
  color: $light-blue;
  padding: em(11px);
  color: $bronze;

  &__title {
    color: $offset-black;
    font-size: rem(21px);
  }

  &__emphasis {
    text-transform: uppercase;
    display: block;
  }
}

.membership-package-offers-list {
  list-style: none;
  margin: 0;

  &__price {
    font-weight: bold;
    color: $light-blue;
    text-transform: uppercase;
    font-size: rem(18px);
  }
}
