html,
body {
  font-size: 14px;
}

body {
  background: $turquoise;
  font-family: $proxima-nova;
  color: $offset-black;
}

a {
  text-decoration: none;

  &:link {
    color: $deep-blue;
  }

  &:visited {
    color: $accent-blue;
  }

  &:hover {
    color: $light-blue;
    text-decoration: underline;
  }

  &:active {
    color: $light-blue;
  }
}

.button,
input[type='submit'].button {
  background: $bronze;
  border: 0;
  color: $white;
  display: block;
  letter-spacing: 1px;
  outline: none;
  padding: em(12px);
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background: $deep-grey;
  }
}

.display-block {
  display: block;
}
