header {
  background: $white;
}

.logo {
  display: block;
  margin-top: em(22px);
}

%header-user-link {
  color: $white;
  display: inline-block;
  font-size: em(14px);
  font-weight: $semibold;
  padding: em(4px) em(9px);
  text-decoration: none;
  vertical-align: top;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:active {
    color: $light-grey;
  }
}

.member-action {
  @extend %header-user-link;
  background: $deep-blue;
  border-bottom-left-radius: 10px;
}

.member-register {
  @extend %header-user-link;
  background: $bronze;
  border-bottom-right-radius: 10px;
}

.header-navigation {
  list-style: none;
  margin: em(12px) 0 em(20px);
  overflow: hidden;
}

.header-navigation {
  .menu-link {
    float: left;
    margin: 0 em(10px);
    text-decoration: none;

    &:link,
    &:visited {
      color: $grey;
      font-weight: $semibold;
    }

    &.active,
    &:hover {
      border-bottom: 2px solid $bronze;
      color: $light-blue;
      text-decoration: none;
    }
  }
}
