header {
  background: $white;

  @media only screen and (min-width: 768px) {
    min-height: 124px;
  }
}

.logo {
  display: block;
  margin: em(12px) 0 0;
}

%header-user-link {
  color: $white;
  display: inline-block;
  font-size: em(14px);
  font-weight: $semibold;
  padding: em(4px) em(9px);
  text-decoration: none;
  vertical-align: top;

  @include responsive-to(small) {
    margin-top: em(5px);
    text-align: center;
  }

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:active {
    color: $light-grey;
  }
}

.member-action {
  @extend %header-user-link;
  background: $deep-blue;
  border-bottom-left-radius: 10px;
}

.member-register {
  @extend %header-user-link;
  background: $bronze;
  border-bottom-right-radius: 10px;
}


.member-logout {
  @extend %header-user-link;
  background: $light-grey;
  border-bottom-right-radius: 10px;

  &:hover {
    color: $offset-black;
  }
}


.member-update-details {
  @extend %header-user-link;
  background: $pale-blue;
  border-bottom-left-radius: 10px;
}
