.home {
  background: $deep-blue image-url('layout/home/background.jpg') no-repeat;
  max-height: 586px;
  overflow: hidden;
  padding: em(58px) 0 em(42px);
  margin: 0 0 em(46px);

  @include responsive-to(small) {
    max-height: none;
    padding: em(20px) 0;
  }
}

.banner-focus {
  background: $white;
  padding: em(10px);
  //position: relative;

  .item-entry {
    left: -30px;
    overflow: hidden;
    position: relative;
    top: -30px;
    float: left;
    width: 100%;
  }

  .title {
    background: $bronze;
    color: $white;
    float: left;
    font-size: em(22px);
    font-weight: $semibold;
    line-height: 1.1;
    //min-height: 108px;
    padding: em(20px, 22px) em(10px, 22px) em(20px, 22px) em(54px, 22px);
    width: 81%;

    @include responsive-to(small) {
      float: none;
      width: 100%;
      padding: em(10px, 22px);
    }

    a {
      color: $white;
      display: block;
    }
  }

  .date {
    bottom: 0;
    color: $bronze;
    font-weight: $bold;
    line-height: 1;
    position: absolute;
    right: em(10px);
    text-align: right;
    width: 60px;

    @include responsive-to(small) {
      position: static;
      width: auto;
    }
  }

  .summary {
    margin: em(40px) 0 0;
    padding: em(20px);
  }

  p {
    font-size: em(13px);
    line-height: 1.25;
    margin: 0;
  }
}

@include responsive-to(small) {
  .slider-focus {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.content-focus-tabs {
  list-style: none;
  margin-left: em(30px);

  @include responsive-to(small) {
    margin: em(5px) 0 0 em(30px);
  }

  li {
    display: inline;
    margin-right: em(8px);
    text-align: center;

    &.active a {
      background: $white;
      color: $deep-blue;
    }
  }

  a {
    background: $deep-grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: $white;
    display: inline-block;
    font-size: em(16px);
    font-weight: $semibold;
    line-height: 1;
    padding: em(9px, 16px) em(20px, 16px) em(10px, 16px);

    @include responsive-to(small) {
      font-size: em(14px);
      padding: em(9px, 14px) em(10px, 14px);
    }
  }
}

.scrolling-slider {
  background: $white;

  .row {
    margin-left: em(20px);
  }

  .navigation {
    padding: em(25px) 0;
  }

  .content {
    margin: 0 auto;
    width: 90%;

    .row {
      border-bottom: 1px solid $light-grey;
      padding: em(10px) 0;

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }

  .date {
    color: $bronze;
    font-weight: $light;
  }

  .title {
    color: $deep-blue;
    font-weight: $semibold;
  }
}

.section {
  &.large {
    margin-bottom: em(53px);
  }

  &.small {
    margin-bottom: em(33px);
  }
}

.home-member-buttons {
  position: relative;
  text-align: right;
  top: -13px;
  margin-bottom: em(9px);

  .member-register {
    background: $grey;
  }
}

.members-information {
  position: relative;
  min-height: 411px;

  .preview-members-directory {
    top: 0;
    position: absolute;

    @include responsive-to(small) {
      position: static;
    }
  }

  .preview-second-home-item {
    bottom: 0;
    position: absolute;

    @include responsive-to(small) {
      position: static;
    }
  }
}


.chamber-information {
  position: relative;
  min-height: 360px;

  .preview-first-home-item {
    top: 0;
    position: absolute;

    @include responsive-to(small) {
      position: static;
    }
  }

  .preview-second-home-item {
    bottom: 0;
    position: absolute;

    @include responsive-to(small) {
      position: static;
    }
  }
}

%preview-home-item {
  .content {
    color: $white;
    padding: em(15px);
  }

  .title {
    border-bottom: 4px solid $bronze;
    display: block;
    font-size: em(16px);
    font-weight: $bold;
    line-height: 1.25;
    text-transform: uppercase;
    padding-bottom: em(7px, 16px);

    span {
      font-weight: $black;
    }
  }

  .summary {
    font-size: em(12px);
    line-height: 1.25;
    margin: em(16px, 12px) 0;
    padding: 0;
  }
}

.preview-second-home-item {
  @extend %preview-home-item;
  background: $deep-blue;
}

.preview-first-home-item {
  @extend %preview-home-item;
  background: $light-blue;
}
