<section class="content-area">
  <div class="row">
    <div class="large-8 small-12 columns">
      <div class="main-content-wrap">
        <h1>Request a New Password</h1>

        <div class="content">
          <p>Please enter your username and password below.</p>

          <p>A link will be sent to the email address in the member database, so please check that for further instructions.</p>

          <p>If you can't remember your username, password or email in our database, please get in touch.</p>

          <%= render 'shared/flash_messages' %>

          <%= render 'form' %>
        </div>
      </div>
    </div>

    <div class="large-4 small-12 columns">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>
