<section class="content-area">
  <div class="row">
    <div class="small-8 small-centered columns">
      <div class="main-content-wrap">
        <h1>Something's wrong - server rejected your response</h1>

        <div class="content">
          <p class="paragraph-highlight">The server rejected the change you requested.</p>

          <p>If you think this is incorrect, please get in touch.</p>
        </div>
      </div>
    </div>
  </div>
</section>
