<div class="row">
  <div class="small-12 medium-3 columns date">
    <%= module_presenter.date(:short) %>
  </div>

  <div class="small-12 medium-9 columns title">
    <%= module_presenter.linked_truncated_title(data: { item: module_presenter.class_name, id: module_presenter.id }) %>
  </div>
</div>

