<%= render 'optimadmin/shared/header/main_title', title: 'Edit Industry' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: industries_path, title: 'Industry' %>

  <%= render 'form', industry: @industry %>
</div>