<%= render 'optimadmin/shared/header/main_title', title: 'New Internal Promotion' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: internal_promotions_path, title: 'Internal Promotion' %>

  <%= render 'form', internal_promotion: @internal_promotion %>
</div>