%flash-heading {
  font-size: em(16px);
  color: $white;
}

// Flash
.flash-message {
  background-color: $deep-grey;
  border-color: $accent-blue;
  color: $white;
  padding: rem(10px);

  h2 {
    @extend %flash-heading;
  }

  ul {
    font-weight: normal;
  }

  &.notice {
  }

  &.error {
    font-weight: bold;
  }

  &.alert {
    font-weight: bold;
  }
}

.error_messages,
#error_explanation {
  background-color: $deep-grey;
  border-color: $accent-blue;
  color: $white;
  padding: rem(10px);

  h2 {
    @extend %flash-heading;
  }

  ul {
    font-weight: normal;
  }
}

.member-offer-information-message {
  background: $pale-blue;
  color: $white;
  font-weight: $bold;
  font-size: em(20px);
  padding: em(15px, 20px);
}
