.full-header {
  background: transparent image-url('layout/headings/border.jpg') center repeat-x;
  text-align: center;
  margin: em(26px, 28px) 0;

  div {
    background: $turquoise;
    display: inline-block;
    color: $deep-blue;
    font-size: em(23px, 28px);
    font-weight: $light;
    letter-spacing: 2px;
    padding: 0 em(30px, 23px);
    text-transform: uppercase;
  }

  &.members-header {
    @include responsive-to(large) {
      margin-bottom: 0;
    }
  }
}

.plain-list {
  list-style: none;
}
