.about-the-chamber {
  background: $deep-blue;
  color: $white;
  padding: 0 0 em(26px);
  margin: em(26px) 0 0;

  @media screen and (min-width: 1024px) {
    max-height: 513px;
    overflow: hidden;
  }

  .full-header div {
    background: $deep-blue;
    color: $white;
  }

  p {
    font-size: em(14px);
  }

  .highlight {
    color: $bronze;
    font-size: em(16px, 14px);
    line-height: 2;
    text-align: center;
    padding: em(30px, 16px) em(40px, 16px);

    @include responsive-to(small) {
      padding: 0;
    }
  }

  .slick-dots li button:before {
    color: $complimentary-blue;
  }

  .slick-dots li.slick-active button:before {
    color: $bronze;
  }
}

.chamber-slide {
  .title,
  h2 {
    font-size: em(16px);
    font-weight: $semibold;
    color: $bronze;
    letter-spacing: 1px;
    line-height: 1.25;
  }

  .middle {
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    padding-left: em(20px);
    padding-right: em(20px);

    @include responsive-to(small) {
      padding: 0;
      border: 0;
    }
  }

  .columns {
    padding-top: em(20px);
    padding-bottom: em(20px);
  }
}

%about-the-chamber-arrow {
  display: block;
  cursor: pointer;
  height: 74px;
  position: absolute;
  top: 30%;
  width: 13px;
  text-indent: -999px;
}

.about-the-chamber-arrow-left {
  @extend %about-the-chamber-arrow;
  background: image-url('layout/home/about-the-chamber-arrow-left.png') no-repeat;
  left: -40px;
}

.about-the-chamber-arrow-right {
  @extend %about-the-chamber-arrow;
  background: image-url('layout/home/about-the-chamber-arrow-right.png') no-repeat;
  right: -40px;
}
