.article {
  padding: em(20px) 0;

  &:not(:first-of-type) {
    border-top: 1px solid $light-grey;
  }

  .content-box-ghost-button {
    padding: em(10px) em(20px);
  }

  h2 {
    margin-top: 0;
  }

  .date,
  .article-category {
    font-weight: $bold;
  }

  .small-details {
    font-size: em(12px);
  }
}
