.content-box {
  background: $white;
  padding: em(22px);

  .inner {
    padding: 0 em(8px);
  }

  .news a {
    display: block;
    padding: em(5px);
    border-bottom: 1px solid $light-grey;
  }
}

.content-box-area-title {
  border-bottom: 4px solid $bronze;
  color: $bronze;
  font-family: $proxima-nova;
  font-size: em(16px);
  font-weight: $bold;
  margin-bottom: em(25, 16px);
  padding-bottom: em(15px, 16px);
  text-align: center;
  text-transform: uppercase;

  span {
    color: $deep-blue;
    font-weight: $black;
  }
}
