.content-box {
  background: $white;
  padding: em(22px);

  @include responsive-to(small) {
    margin: 0 0 em(10px);
  }

  .inner {
    padding: 0 em(8px) em(20px);
    position: relative;;
  }

  .news a {
    display: block;
    padding: em(5px);
    border-bottom: 1px solid $light-grey;
  }

  .button-text-center {
    text-align: center;
    margin: em(10px) auto;
    width: 92%;

    @include responsive-to(medium) {
      width: 73%;

      img {
        margin-top: em(5px);
      }
    }
  }

  /*
  &.international-trade {
    padding-bottom: 6.28572em;
  }
  */
}

.content-box-area-title {
  border-bottom: 4px solid $bronze;
  color: $bronze;
  font-size: em(16px);
  font-weight: $bold;
  margin-bottom: em(25, 16px);
  padding-bottom: em(15px, 16px);
  text-align: center;
  text-transform: uppercase;

  span {
    color: $deep-blue;
    font-weight: $black;
  }
}

.content-box-ghost-button {
  border: 3px solid $light-blue;
  display: inline-block;
  font-size: em(12px);
  letter-spacing: 1px;
  padding: em(8px, 12px) em(26px, 12px);
  text-transform: uppercase;

  &:hover,
  &:active {
    background: $light-blue;
    color: $white;
    text-decoration: none;
  }

  &.small {
    padding-left: em(7px, 12px);
    padding-right: em(7px, 12px);
  }

  &.aside {
    margin-top: em(13px, 12px);
    padding: em(5px, 12px) em(20px, 12px);
  }
}
