fieldset {
  padding: em(15px);

  legend {
    padding: 0 em(10px);
    text-transform: uppercase;
  }

  .fields {
    margin: em(20px) 0;
  }
}

.field_with_errors {
  border: 1px solid $bronze;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
input[type='search'],
textarea,
select {
  @include border-radius(2px);
  border: 1px solid $turquoise;
  padding: em(10px) em(15px);
}
