header {
  .cse .gsc-control-cse,
  .gsc-control-cse {
    padding: em(14px) 0 0;
  }

  .cse .gsc-search-button input.gsc-search-button-v2,
  input.gsc-search-button-v2 {
    width: auto;
    height: auto;
  }

  .gsib_a {
    padding: em(3px) em(8px);
  }

  .gsc-search-box-tools .gsc-search-box .gsc-input {
    background: transparent;
  }

  .gsc-selected-option-container {
    width: auto !important;
  }
}
