.internal-promotion {
  @extend %clearfix;
  background: $white;
  border: 3px solid $bronze;
  color: $light-blue;
  max-height: 56px;
  line-height: 1.25;
  margin: em(10px) 0;
  overflow: hidden;
  padding: 0 em(15px);

  a {
    font-weight: $bold;
  }
}

.about-the-chamber-internal-promotion {
  margin: em(40px) 0;
}
