
.header-navigation {
  list-style: none;
  margin: em(24px) 0;

  li {
    display: inline-block;
    position: relative;

    &:hover {
      ul {
        display: block;
      }
    }
  }

  ul {
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background: $white;
    display: none;
    margin: 0;
    padding: em(2px);
    position: absolute;
    min-width: 200px;
    z-index: 9999;

    li {
      display: block;
      line-height: 1;
      font-size: em(12px);
      margin: em(14px, 12px) 0;
    }

    .menu-link {
      padding: 0 em(6px, 12px);

      &:link,
      &:visited {
        color: $accent-blue;
        border: 0;
      }


      &:hover {
        color: $bronze;
        border: 0;
      }
    }
  }

  .menu-link {
    display: block;
    margin: 0 em(10px) 0 0;
    text-decoration: none;

    &:link,
    &:visited {
      border-bottom: 2px solid $white; // prevent 2px jump on hover when no active
      color: $grey;
      font-weight: $semibold;
    }

    &.active,
    &:hover {
      border-bottom: 2px solid $bronze;
      color: $light-blue;
      text-decoration: none;
    }
  }
}

.navigation-toggle {
  display: block;
  margin: em(10px) auto;
  text-align: right;
}
