.home-patrons {
  background: $white;
  padding: 0 0 em(26px);

  .full-header div {
    background: $white;
    color: $bronze;

    a {
      color: $bronze;
    }
  }

  .patron-logos img {
    margin: 0;
  }
}

.inline-patrons {
  @extend %clearfix;
  text-align: center;

  div {
    float: left;
    width: 25%;
    margin: em(10px) 0;
  }
}
