<%= render 'optimadmin/shared/header/main_title', title: 'Edit Member' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: members_path, title: 'Member' %>

  <%= render 'form', member: @member %>
</div>