<%= render 'optimadmin/shared/header/main_title', title: 'New Event Category' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: event_categories_path, title: 'Event Category' %>

  <%= render 'form', event_category: @event_category %>
</div>