<%= render 'optimadmin/shared/header/main_title', title: 'New Member Offer' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: member_offers_path, title: 'Member Offer' %>

  <%= render 'form', member_offer: @member_offer %>
</div>