<%= render 'optimadmin/shared/header/main_title', title: 'Edit Article' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: articles_path, title: 'Article' %>

  <%= render 'form', article: @article %>
</div>