<%= render 'optimadmin/shared/help_guides/sidebar', object: Article, area: 'new' %>
<%= render 'optimadmin/shared/header/main_title', title: "New #{Article.model_name.human.titleize}" %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: articles_path, title: Article.model_name.human.titleize %>
  <%= render 'form', article: @article %>
</div>
