<section class="content-area">
  <div class="row">
    <div class="medium-8 small-12 columns">
      <div class="main-content-wrap">
        <h1>Update Your Password</h1>

        <div class="content">
          <p>Use the form below to enter your new password.</p>

          <%= render 'shared/flash_messages' %>

          <%= render 'password_form' %>
        </div>
      </div>
    </div>

    <div class="medium-4 small-12 columns">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>
