<section class="content-area">
  <div class="row">
    <div class="large-8 small-12 columns">
      <div class="main-content-wrap">
        <h1><%= @additional_content.title("Members' Area - Join") %></h1>

        <div class="content">
          <%= @additional_content.content %>
          
          <%= render 'form' %>
        </div>
      </div>
    </div>

    <div class="large-4 small-12 columns">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>
